{
  "presets": [["@babel/preset-env"]],
  "plugins": ["@babel/plugin-proposal-optional-chaining"]
  // "watch": true,
  // "out-file": "es5.js"

  // ,
  // "targets": {
  //   "chrome": "58",
  //   "ie": "11"
  // }
}
